<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>DISPLAY_ACCESSRECORDS</h1>
        <table border="3px">
            <tr>
                <th>pk value</th>
                <th>Name</th>
                <th>Date</th>
                <th>Author</th>
            </tr>
            {% for AO in accessrecord %}
            <tr>
                <td>{{AO.pk}}</td>
                <td>{{AO.Name}}</td>
                <td>{{AO.Date}}</td>
                <td>{{AO.Author}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>